

.errorUser{
    padding: var(--spacing);
}

.coverPhotoContainer{
    height: 180px;
    width: 100%;
    background-color: var(--blue);
    position: relative;
    cursor: pointer;
    
    
}

/*.userImageContainer*/
.coverPhotoContainer > div:first-child{
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
}

.coverPhotoContainer > div:first-child > img{
    border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover {
    background-color: var(--blueBackground);
}

.followButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 15px;
    height: 40px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    background-color: var(--blueBackground);
    color:  var(--blue);
}

.following{
    background-color: var(--blue);
    color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: 15px;
}

.followersContainer a:hover {
    border-bottom: 1px solid #000;
}

.displayName{
    font-weight: bold;
}

.userName{
    color: var(--greyText);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
   
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}

.tab:hover {
    color: var(--blue);
    background-color: var(--blueBackground);
}

.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
    display: flex;
    justify-content: space-between;
}

.username {
    color: var(--greyText)
}

.coverPhotoContainer:hover .coverPicBtnContainer{
    display: flex;
    
}

.coverPicBtnContainer{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.coverPicBtnContainer button{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
}

.profilePictureButton {
    position: absolute;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
  }
  
  .userImageContainer:hover + div button{
      display: none;
  }
  
  .userImageContainer:hover button {
    display: block;
  }

  .userImageContainer {
   
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .userImageContainer img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.searchBarCantainer{
    position: relative;
    color: var(--greyText);
    padding: 10px var(--spacing);
}

.searchBarCantainer i{
    position: absolute;
    top:20px;
    left:20px;
}

.searchBarCantainer input{
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    background-color: var(--lightGrey);
    border: none;
    color: var(--greyText);
}

